:root{
    --amarillo: #EAC926;
    --azul: #03264C;
    --celeste: #1259c3;
    --grisOscuro: #666;
    --grisClaro: #ebebeb;
    --verde: #39b54a
}

body{
    font-family: 'Roboto', sans-serif;
}

header{
    background-color: var(--amarillo);
}

.buscador{
    margin: 10px;
    padding: 5px;
    background-color: #fff;
    color: var(--grisOscuro);
}

.iconoBuscar i{
    margin-left: 10px;
    background-color: #fff;
    border: 1px solid var(--grisOscuro);
    font-weight: bold;
    padding: 3px;
}

.formasDePago{
    text-align: center;
}

a{
    text-decoration: none;
    color: #000;
}

h3.titulares{
    font-size: 24px;
}

p.precios{
    font-size: 18px;
}

p.descuentos{
    font-size: 16px;
}

h4.descripciones{
    font-size: 16px;
}

.burger-menu{
    text-align: center;
}

.burger-menu i{
    background-color: var(--celeste);
    color: #fff;
    font-size: 20px;
    border-radius: 5px;
    padding: 10px;
    margin: 10xp 0 20px 0;
}

.iconosFooter{
    text-align: center;
}

.iconosFooter i{
    font-size: 32px;
    color: blue;
    margin-top: 32px;
}

h4.tituloFooter{
    text-align: center;
}

p.descripcionFooter{
    margin-top: -20px;
    text-align: center;
}